p {
    font-size: 80px;
    text-align: center;
    color: rgb(0, 0, 0);
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

input {
    margin-bottom: 30px;
    border-radius: 5px;
    margin: 0%;
    margin-bottom: 5px;
}

#enviar_cor {
    color: black;
}

body {
    font-family: cursive;
    background-color: gainsboro;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}