div {
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 10px;
    height: 600px;
    
}

body {
    background-color: red;
    font-family: cursive;
}

#Article-1 {
    background-color: blue;
    margin: 10px;
    border-radius: 10px;
    height: 300px;
}

#h1_sobrenos {
    font-size: xx-large;
}

p {
 font-size: x-large;
}
#Article-2{
    background-color: yellowgreen;
    height: 680px;
    margin: 10px;
    border-radius: 10px;
}
#h_1{
    text-align: center;
}
#div_2 {
    display: flex;
    margin-top: 5px;
}
.sections {
    flex-direction: column;
}
div {
    background-color: yellowgreen;
    color: black;
}
.img_section {
    margin: auto;
}