div {
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 10px;
    height: 600px;
    
}

body {
    background-color: gainsboro ;
    font-family: cursive;
    margin: 0;
}

#Article-1 {
    background-color: salmon;
    margin: 10px;
    border-radius: 10px;
    height: 300px;
}

#h1_sobrenos {
    font-size: xx-large;
}

p {
 font-size: 20px;
}
#Article-2{
    background-color: gainsboro;
    height: 600px;
    margin: 10px;
    border-radius: 10px;
}
#h_1{
    text-align: center;
}
#div_2 {
    display: flex;
    margin-top: 5px;
}
.sections {
    flex-direction: column;
    justify-content: center;
    background-color: salmon;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px; 
    height: 500px;
}
div {
    background-color: gainsboro;
    color: black;
}
.img_section {
    margin: auto;
}