div {
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 10px;
}

body {
    background-color: rgb(0, 0, 0);
}

#Article-1 {
    background-color: rgb(0, 255, 0);
    margin: 10px;
    border-radius: 10px;
    height: 300px;
}

#h1_sobrenos {
    font-size: xx-large;
}

p {
 font-size: x-large;
}
#Article-2{
    background-color: rgb(0, 255, 0);
    height: 500px;
    margin: 10px;
    border-radius: 10px;
}
#h_1{
    text-align: center;
}
#div_2 {
    display: flex;
    margin-top: 5px;
}
.sections {
    flex-direction: column;
    border-style: solid;
    border-color: black;
}
div {
    background-color: rgb(0, 255, 0);
    color: black;
}
.img_section {
    margin: auto;
}