body {
    background-color: gainsboro;
    margin: 0;
    font-family: cursive;
}
h1 {
    text-align: center;
}
#p_1 {
    text-align: center;
}
section {
    display: flex;
}
#p_imgem {
    margin-left: 5px;

}
#div_2 {
    display: flex;
    margin: 5px;
    border-radius: 15px;
}
.sections {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    border-color: black;

}
div {
    background-color: salmon;
    color: black;
    border-radius: 10px;
}
.img_section {
    margin: auto;
}
