body {
    background-color: black;
    color: white;
    margin: 0%;
}
h1 {
    text-align: center;
}
#p_1 {
    text-align: center;
}
section {
    display: flex;
}
#p_imgem {
    margin-left: 5px;

}
#div_2 {
    display: flex;
    margin: 5px;
}
.sections {
    flex-direction: column;
    border-style: solid;
    border-color: black;
}
div {
    background-color: yellowgreen;
    color: black;
}
.img_section {
    margin: auto;
}
