body {
    background-color: gainsboro;
    margin: 0;
    font-family: cursive;
    padding-bottom: 0%;
}
h1 {
    text-align: center;
}
#p_1 {
    text-align: center;
}
section {
    display: flex;
}
#p_imgem {
    margin-left: 5px;

}
#div_2 {
    display: flex;
 

}
.sections {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    border-left: 7px solid salmon;
    -webkit-box-shadow: 11px 15px 30px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 11px 15px 30px 0px rgba(0,0,0,0.35);
box-shadow: 11px 15px 30px 0px rgba(0,0,0,0.35);
}
#div_1 {
    background-color: gainsboro;
    color: black;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 26px;
    border-left: 7px solid salmon;
    -webkit-box-shadow: 11px 15px 30px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 11px 15px 30px 0px rgba(0,0,0,0.35);
    box-shadow: 11px 15px 30px 0px rgba(0,0,0,0.35);
}
.img_section {
    margin: auto;
}

#iframe_footer {
    margin-bottom: -5px;
}