p {
    text-align: center;
    font-size: 70px;
}

input {
    width: 70px;
    height: 70px;
}

body {
    text-align: center;
    font-family: cursive;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: gainsboro;
    color: black;
    margin: 0;
}

button {
    height: 80px;
    width: 80px;
}

a {
    background-color: salmon;
    border: 1px solid grey;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 7px;
}

