footer{
    background-color:salmon;
    text-align: center;
    box-shadow: 6px;
    margin: 0;
}
img{
    width: 32px;
}

body{
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}