
img {
    width: 64px;
    height: 64px;
}
#_p1{
    text-align: center;
}
ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;

}
li{
    margin-left: 50px;
    font-size: 40px;
    color: black;
    list-style: none;

}

header{
    background-color: greenyellow;
    height: 100%;
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: gray;
}

body{
margin: 0;
padding: 0;

}

