<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>sushi beta</title>
    <link rel="stylesheet" href="../layouts/header.css">
</head>

<body>
    <header>
        <div id="_p1"><img src="../assets/images/sushi verdadeiro.jpg"></div>
            <ul>
                <li><a href="./../index.html" target="_parent">Menu</li>
                <li><a href="./../pages/sobrenos.html" target="_parent">Sobre</li>
                <li><a href="./../pages/contato.html" target="_parent">Contato</li>
            </ul>
    </header>
</body>

</html>