
img {
    width: 64px;
    height: 64px;
}
#_p1{
    text-align: center;
}
ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;

}
li{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40px;
    color: white;
    list-style: none;
    font-size: 25px;
    text-align: center;
}

header{
    background-color: salmon;
    height: 100%;
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: slategray;
}

body{
margin: 0;
padding: 0;
font-family: cursive;

}

@keyframes{

}

div{
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

